<div class="container-fluid">
  <div class="row">
    <div class="col-lg-7 jumbotron"></div>
    <div class="col-lg-5">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Forgot password</h5>
          <p class="divider-text"><span class="bg-light">OR</span></p>
          <a class="text-center registerlink" routerLink="/login">
            <i class="fa fa-user"></i> Login
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
