<div class="container-fluid">
  <div class="row">
    <div class="col-lg-7 jumbotron card-left"></div>
    <div class="col-sm-9 col-lg-5 mx-auto card-right">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <div *ngIf="!authenticationFlag" class="help-block error small">
            {{ error.message }}
          </div>
          <form
            class="form-signin"
            name="form"
            (ngSubmit)="f.form.valid && onSubmit(f)"
            #f="ngForm"
            novalidate
          >
            <div class="form-label-group">
              <input
                type="email"
                id="inputEmail"
                name="email"
                class="form-control"
                placeholder="Email address"
                [(ngModel)]="model.email"
                #email="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                required
                email
                autofocus
              />
              <label for="inputEmail">Email address</label>
              <div
                *ngIf="f.submitted && email.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.email">
                  Email must be a valid email address
                </div>
              </div>
            </div>
            <div class="form-label-group">
              <input
                type="password"
                id="inputPassword"
                class="form-control"
                placeholder="Password"
                name="password"
                [(ngModel)]="model.password"
                #password="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && password.invalid }"
                required
                minlength="6"
              />
              <label for="inputPassword">Password</label>
              <div
                *ngIf="f.submitted && password.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">
                  Password must be at least 6 characters
                </div>
              </div>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <a routerLink="/forgotpass">Forgot password?</a>
            </div>
            <button
              class="btn btn-lg btn-primary btn-block text-uppercase"
              type="submit"
            >
              Sign in
            </button>
            <p class="divider-text"><span class="bg-light">OR</span></p>
            <button
              class="btn btn-lg btn-google btn-block text-uppercase"
              (click)="loginGoogle()"
            >
              <i class="fa fa-google mr-2"></i> Sign in with Google
            </button>
            <button
              class="btn btn-lg btn-facebook btn-block text-uppercase"
              (click)="loginFacebook()"
            >
              <i class="fa fa-facebook-f mr-2"></i> Sign in with Facebook
            </button>
            <button
              class="btn btn-lg btn-twitter btn-block text-uppercase"
              (click)="loginTwitter()"
            >
              <i class="fa fa-twitter mr-2"></i> Sign in with Twitter
            </button>
          </form>
          <p class="divider-text"><span class="bg-light">OR</span></p>
          <a class="text-center registerlink" routerLink="/register">
            <i class="fa fa-user-plus"></i> Create a new account
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
