<div class="container-fluid">
  <div class="row">
    <div class="col-lg-7 jumbotron card-left"></div>
    <div class="col-sm-9 col-lg-5 mx-auto card-right">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign Up</h5>
          <form
            class="form-signin"
            name="form"
            (ngSubmit)="f.form.valid && onSubmit()"
            #f="ngForm"
            novalidate
          >
            <!--
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  name="firstName"
                  placeholder="First Name"
                  [(ngModel)]="model.firstName"
                  #firstName="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }"
                  required
                  autofocus
                />
                <label for="firstName">First Name</label>
                <div
                  *ngIf="f.submitted && firstName.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="firstName.errors.required">
                    First Name is required
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  id="lastName"
                  name="lastName"
                  placeholder="Last Name"
                  [(ngModel)]="model.lastName"
                  #lastName="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }"
                  required
                />
                <label for="lastName">Last Name</label>
                <div
                  *ngIf="f.submitted && lastName.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="lastName.errors.required">
                    Last Name is required
                  </div>
                </div>
              </div>
            -->
            <div class="form-group">
              <input
                type="email"
                id="inputEmail"
                name="email"
                class="form-control"
                placeholder="Email address"
                [(ngModel)]="user.email"
                #email="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                required
                email
              />
              <label for="inputEmail">Email address</label>
              <div
                *ngIf="f.submitted && email.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.email">
                  Email must be a valid email address
                </div>
              </div>
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="password"
                [(ngModel)]="user.password"
                #password="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && password.invalid }"
                required
                minlength="6"
              />
              <label for="password">Password</label>
              <div
                *ngIf="f.submitted && password.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">
                  Password must be at least 6 characters
                </div>
              </div>
            </div>
            <div class="form-group">
              <button
                class="btn btn-lg btn-primary btn-block text-uppercase"
                type="submit"
              >
                Create a new account
              </button>
            </div>
          </form>
          <p class="divider-text"><span class="bg-light">OR</span></p>
          <a class="text-center registerlink" routerLink="/login">
            <i class="fa fa-user"></i> Login
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
