/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.css';

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

body {
  background: #9cecfb;
  background: -webkit-linear-gradient(to right, #0052d4, #65c7f7, #9cecfb);
  background: linear-gradient(to right, #0052d4, #65c7f7, #9cecfb);
}
.body-white {
  background: none;
}
@media (max-width: 823px) {
  body {
    background: none;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  body {
    background: #9cecfb;
    background: -webkit-linear-gradient(to right, #0052d4, #65c7f7, #9cecfb);
    background: linear-gradient(to right, #0052d4, #65c7f7, #9cecfb);
  }
}
